MAILGUN_SIGNING_KEY=<Mailgun signing key>
AWS_REGION=<Aws region> // us-west-1
API_VERSION=<AWS API Version> // 2010-03-31 
SNS_TOPIC_ARN=<SNS topic_arn you want to publish to> // "topicARN"
MESSAGE_PROVIDER=<Message provider> // "Mailgun"